<ion-header class="ion-no-border" slot="end">
    <ion-title id="header-title">StrayDopt</ion-title>
  <!-- <ion-toolbar> -->
    <ion-avatar>
      <img src="assets/profile/normal_user2.svg" />
    </ion-avatar>
    <ion-text class="">Username__</ion-text>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row id="funding-box-container-row">
    <ion-col size="12">

      <ion-card class="ion-no-border">
        <img src="assets/icon/fund-us.svg">
        <ion-card-content>
          Donate funds
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row id="listings-contaner-row">
    <ion-col sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="6" sizeXl="6">
      <ion-card class="card">
        <ion-row class="row_for_image_and_button" id="box_1">
          <ion-col size='4'>
            <span class="ion-padding">
              <img src="assets/profile/normal_user2.svg">
            </span>
          </ion-col>
          <ion-col size='8' class="ion-text-center">
            <span class="">
              <ion-button fill="clear">All adoptions</ion-button>
            </span>
          </ion-col>        
        </ion-row>
      </ion-card>
    </ion-col>
    
    <ion-col sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="6" sizeXl="6">
      <ion-card class="card">
        <ion-row class="row_for_image_and_button" id="box_2">
          <ion-col size='4'>
            <span class="ion-padding">
              <img src="assets/profile/normal_user2.svg">
            </span>
          </ion-col>
          <ion-col size='8' class="ion-text-center">
            <span class="">
              <ion-button fill="clear">All rescues</ion-button>
            </span>
          </ion-col>        
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="6" sizeXl="6">
      <ion-card class="card">
        <ion-row class="row_for_image_and_button" id="box_3">
          <ion-col size='4'>
            <span class="ion-padding">
              <img src="assets/profile/normal_user2.svg">
            </span>
          </ion-col>
          <ion-col size='8' class="ion-text-center">
            <span class="">
              <ion-button fill="clear">Rescuers</ion-button>
            </span>
          </ion-col>        
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="6" sizeXl="6">
      <ion-card class="card">
        <ion-row class="row_for_image_and_button" id="box_4">
          <ion-col size='4'>
            <span class="ion-padding">
              <img src="assets/profile/normal_user2.svg">
            </span>
          </ion-col>
          <ion-col size='8' class="ion-text-center">
            <span class="">
              <ion-button fill="clear">Fundings</ion-button>
            </span>
          </ion-col>        
        </ion-row>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row id="adoption-form-container-row">
    <ion-col size="12">

      <ion-card class="ion-no-border">
        <img src="assets/icon/add-photo.svg">
        <ion-card-content>
          Publish adoption
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row id="new-rescue-request-container-row">
    <ion-col size="12">
      

      <ion-card class="ion-no-border">
        <img src="assets/icon/add-photo.svg">
        <ion-card-content>
          New rescue request
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>