<ion-header class="ion-no-border" slot="end">
  <ion-title id="header-title">StrayDopt</ion-title>
  <ion-avatar>
    <img src="../../../../assets/profile/normal_user2.svg" />
  </ion-avatar>
  <ion-text class="">Username__</ion-text>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row id="straydopt-funding-box-container-row">
    <ion-col size="12">

      <ion-card class="ion-no-border">
        <img src="../../../../assets/icon/fund-us.svg">
        <ion-card-content>
          Donate funds to 
          <strong>
            StrayDopt
          </strong>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>


  <ion-row id="funding-box-container-row">
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="funding-box-container-col" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-header>
          <ion-chip color="primary" mode="ios" outline="false">
            <ion-avatar>
              <img src="../../../../assets/profile/normal_user2.svg" />
            </ion-avatar>
            <ion-label>User Name</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="fund-animal-img" src="../../../../assets/profile/pet_adoption.svg"></ion-img>
          <ion-text color="primary">
            <span>25</span>
            <span>/100</span>
          </ion-text>
          <ion-progress-bar type="determinate" value="0.25" buffer="1" reversed="false" color="success"></ion-progress-bar>
          <div class="fund-avatars-container">
            <div class="fund-avatars">
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
              <ion-avatar>
                <img src="../../../../assets/profile/normal_user2.svg" />
              </ion-avatar>
            </div>

            <div class="donate-button-container">
              <ion-button expand="block" fill="outline" shape="round">
                Donate
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
